---

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: fix-encoding-pragma

  - repo: https://github.com/commitizen-tools/commitizen
    rev: 3.0.1
    hooks:
      - id: commitizen
        stages:
          - commit-msg

...
