---

services:
  app:
    image: wayofdev/php-dev:8.2-cli-alpine-latest
    container_name: ${COMPOSE_PROJECT_NAME}-app
    restart: on-failure
    networks:
      - default
    volumes:
      - ./:/app:rw
      - ~/.composer:/.composer
    env_file:
      - .env
    environment:
      PHIVE_HOME: /app/.phive

  pgsql:
    image: wayofdev/postgres:15-alpine-latest
    container_name: ${COMPOSE_PROJECT_NAME}-pgsql
    restart: on-failure
    networks:
      - default
    ports:
      - '${DB_PGSQL_FORWARD_PORT:-15432}:5432'
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USERNAME:-cycle}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE:-default}
    volumes:
      - pgsql-data:/var/lib/postgresql/data:cached
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', '${DB_USERNAME:-cycle}', '-d', '${DB_DATABASE:-default}']
      interval: 3s
      timeout: 1s
      retries: 10

  mysql:
    image: mysql:latest
    container_name: ${COMPOSE_PROJECT_NAME}-mysql
    restart: on-failure
    networks:
      - default
    ports:
      - '${DB_MYSQL_FORWARD_PORT:-13306}:3306'
    env_file:
      - .env
    environment:
      MYSQL_ROOT_HOST: '%'
      MYSQL_USER: ${DB_USERNAME:-cycle}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE:-default}
    volumes:
      - mysql-data:/var/lib/mysql:cached
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 3s
      timeout: 1s
      retries: 10

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    platform: linux/amd64
    container_name: ${COMPOSE_PROJECT_NAME}-sqlserver
    restart: on-failure
    networks:
      - default
    ports:
      - '${DB_SQLSERVER_FORWARD_PORT:-11434}:1433'
    env_file:
      - .env
    environment:
      SA_PASSWORD: ${DB_PASSWORD}
      ACCEPT_EULA: 'Y'
    volumes:
      - sqlserver-data:/var/opt/mssql
    healthcheck:
      test:
        ['CMD', '/opt/mssql-tools/bin/sqlcmd', '-S', 'localhost', '-U', 'SA', '-P', '${DB_PASSWORD}', '-l', '30', '-Q', 'SELECT 1']
      interval: 3s
      timeout: 1s
      retries: 10

volumes:
  pgsql-data:
    name: ${COMPOSE_PROJECT_NAME}-pgsql-data
  mysql-data:
    name: ${COMPOSE_PROJECT_NAME}-mysql-data
  sqlserver-data:
    name: ${COMPOSE_PROJECT_NAME}-sqlserver-data

networks:
  default:
    name: project.${COMPOSE_PROJECT_NAME}

...
