includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - config/
        - src/
        - tests/
    checkOctaneCompatibility: true
    checkModelProperties: true
    tmpDir: .build/phpstan/
    ignoreErrors:
        -
            message: "#Trait WayOfDev\\\\App\\\\Entities\\\\HasSignatures is used zero times#"
