includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - config/
        - src/
        - tests/
    checkOctaneCompatibility: true
    checkModelProperties: true
    tmpDir: .build/phpstan/
