includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - config/
        - database/
        - src/
        - tests/

    checkMissingIterableValueType: false
    checkOctaneCompatibility: true
    checkModelProperties: true

    tmpDir: .build/phpstan/
