<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         stopOnFailure="true"
         stopOnError="true"
         beStrictAboutOutputDuringTests="true"
         cacheDirectory="./.build/phpunit.cache">
    <php>
        <server name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <server name="APP_ENV" value="testing"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="CYCLE_ADAPTER_QUEUE_INTEGRATION" value="false"/>
        <server name="CYCLE_ADAPTER_SESSION_INTEGRATION" value="false"/>
        <server name="CYCLE_ADAPTER_CACHE_INTEGRATION" value="false"/>

        <server name="CYCLE_ATTRIBUTES_CACHE" value="true"/>
        <server name="CYCLE_ATTRIBUTES_CACHE_DRIVER" value="array"/>

        <server name="CYCLE_SCHEMA_CACHE" value="true"/>
        <server name="CYCLE_SCHEMA_CACHE_DRIVER" value="array"/>
    </php>
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory=".build/coverage"/>
            <text outputFile=".build/coverage.txt"/>
            <clover outputFile=".build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile=".build/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
