---

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: 🔍 Continuous integration

jobs:
  integration:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-22.04"]
        php: ["8.2"]
    steps:
      - name: 📦 Check out the codebase
        uses: actions/checkout@v4

      - name: 🛠️ Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, fileinfo, pdo_mysql, pdo
          ini-values: error_reporting=E_ALL
          tools: composer:v2, pecl
          coverage: xdebug

      - name: 🛠️ Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: ♻️ Restore cached dependencies
        id: cached-composer-dependencies
        uses: actions/cache@v4
        with:
          path: vendor
          key: vendor-${{ runner.os }}-${{ hashFiles('**/composer.lock') }}-${{ matrix.php }}

      - name: 📥 Install dependencies
        if: steps.cached-composer-dependencies.outputs.cache-hit != 'true'
        run: composer install

      - name: 🛠️ Prepare environment
        run: |
          mkdir -p ./.build/php-cs-fixer
          mkdir -p ./.build/phpstan
          mkdir -p ./.build/phpunit

      - name: 🚨 Run coding standards task
        run: composer cs:diff
        env:
          PHP_CS_FIXER_IGNORE_ENV: true

      - name: 🧪 Execute phpunit and pest tests
        env:
          XDEBUG_MODE: coverage
          DB_CONNECTION: sqlite
          DB_DATABASE: ":memory:"
        run: vendor/bin/pest --coverage-clover=coverage.xml

      - name: 🔍 Run static analysis using phpstan
        run: composer stan:ci

      - name: 📤 Upload coverage report to Codecov
        uses: codecov/codecov-action@v4.4.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          verbose: true

...
